<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nexeyo.respectcab">

    <application
        android:name="com.nexeyotest.respectcab.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Respect Test"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsPictureInPicture="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name="com.nexeyotest.respectcab.NotificationActivity">
            <intent-filter>
                <action android:name="com.nexeyotest.respectcab.Target_Notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.nexeyotest.respectcab.DriverPackageActivity" />
        <activity android:name="com.nexeyotest.respectcab.ClientPackageActivity" />
        <activity android:name="com.nexeyotest.respectcab.PackageAssign" />
        <activity android:name="com.nexeyotest.respectcab.CustomerRideRequest" />
        <activity android:name="com.nexeyotest.respectcab.DriverCommissionDetails" />
        <activity android:name="com.nexeyotest.respectcab.Finance_Activity" />
        <activity android:name="com.nexeyotest.respectcab.PaymentHistoryActivity" />
        <activity
            android:name="com.nexeyotest.respectcab.DriverMapActivity"
            android:label="Respect Cab Service"
            android:theme="@style/AppTheme.NoActionBar">
            <layout
                android:defaultWidth="600dp"
                android:defaultHeight="500dp"
                android:gravity="top|end"
                android:minWidth="300dp"
                android:minHeight="450dp" />

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.nexeyotest.respectcab.DriverHistory" />
        <activity android:name="com.nexeyotest.respectcab.CustomerActivity" />
        <activity
            android:name="com.nexeyotest.respectcab.DriverLoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nexeyotest.respectcab.DriverVehicle" />
        <activity
            android:name="com.nexeyotest.respectcab.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <receiver
            android:name="com.nexeyotest.respectcab.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <service
            android:name="com.nexeyotest.respectcab.ForegroundService"
            android:enabled="true"
            android:exported="true" /> <!-- Set Notification channel Id -->
        <service
            android:name="com.nexeyotest.respectcab.onAppKilled"
            android:stopWithTask="false" /> <!-- Prevent auto initialization -->
        <service android:name="com.nexeyotest.respectcab.GpsService" />
        <service
            android:name="com.nexeyotest.respectcab.FcmMessagingService"
            android:directBootAware="true"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <service -->
        <!-- android:name="com.nexeyotest.respectcab.NotificationActivity" -->
        <!-- android:directBootAware="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>